/*Lägger till fonten roboto*/
@font-face{
	font-family:roboto;
	src: url(fonts/Roboto-Thin.ttf);
}

/*Lägger till fonten robotoblack*/
@font-face{
	font-family:robotoblack;
	src: url(fonts/Roboto-Black.ttf);
}

/*Sätter padding och margin till noll på de element där det behövs*/
body, ul{
	margin: 0;
	padding: 0;
}

/*Bakgrundsbilder hamnar på båda sidorna av av hemsidan på alla sidor förutom dom med id index eller formular */
body:not(#index):not(#formular){
	background: url("pictures/side.jpg"), url("pictures/side.jpg");
	background-position: top left, top right; /*Gör så att bilderna hamnar på rätt position*/
	background-size: 10% 1200px, 10% 1200px; /*Sätter bredden och höjden på bilderna*/
	background-repeat: repeat-y, repeat-y; /*Gör så att dom repeteras i y-led*/
}


/*Stilen på texten för alla sidor*/


/*Ändrar till rätt font på titlar, påverkar alla sidor*/
h1, a, dt, thead, input[type=submit]{
	font-family: robotoblack;
}

/*Ändrar till rätt font på vanlig text, påverkar alla sidor*/
p, dd, tbody, label, figure{
	font-family: roboto;
	font-weight: 900; /*Ändrar tjockleken på fonten till fetare*/
}

/*Tar bort dekorationen på länkar och ändrar färgen på texten till svart*/
a{
	text-decoration: none;
	color: black;
}

/*Tar bort prickarna före texten på listan*/
ul {
	list-style-type: none;
}


/*Global meny för alla sidor*/


/*Ändrar bakgrundsfärgen på den globala menyn till grå och lägger en padding på 10px*/
header > nav{
	background-color: grey;
	padding: 10px;
}

/*Gör så att texten hamnar i mitten av li och centerar texten*/
header > nav ul{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 0px;
}

/*Gör så att alla li hamnar efter varandra och så att dom tar upp 23% på bredden var.*/
header > nav li{
	display: inline-block;
	padding-right: 1%; /*Gör så att det blir ett avstånd med 1px till höger mellan li*/
	padding-left: 1%;  /*Gör så att det blir ett avstånd med 1px till vänster mellan li*/
	width: 23%;
	vertical-align: middle;
}

/*Gör så att alla a hamnar efter varandra*/
header > nav a{
	display: inline-block;
	width: 100%; /*Gör så att den tar upp 100% på bredden av sidan*/
	line-height: 50px; /*Sätter höjden på texten 50px*/
	font-size: 20px; /*Ändrar storleken på fonten till 20px*/
	border-radius: 10px;
}

/*Gör så att om man inte har varigt inne på en sida så kommer den ha färgen #888888*/
header > nav a:link{
	background-color: #888888;
}

/*Gör så att om man har varit inne på en sida i den globala menyn så kommer den få färgen #aaaaaa*/
header > nav a:visited{
	background-color: #aaaaaa;
}

/*Gör så att om man har en sida i focus så ändras färgen till gul*/
header > nav a:focus{
	background-color: yellow;
}

/*Gör så att om man håller över knapparna så ändras färgen*/
header > nav a:hover{
	background-color: #c9c9c9;
}

/*Gör så att den sidan som är aktiv har en färgen #444444*/
header > nav a:active{
	background-color: #444444;
}

/*Gör så att bilden och texten hamnar på samma höjd*/
header > nav img{
	display: inline-block;
    vertical-align: top;
	height: 50px;
}


/*Lokalmeny - musikgenomaren.html, 80-talet.html, 90-talet.html, instrument.html, gitarr.html, trumpet.html*/


/*Gör så att lokalmenyn hamnar i mitten och den har en padding på 10px*/
footer > nav{
	text-align: center;
	padding: 10px;
}

/*Ändrar stilen på a*/
footer > nav a{
	display: inline-block;
	width: 100%;
	line-height: 50px;
	background-color: #c9c9c9;
	padding: 5px;
	border-radius: 10px; /*Gör runda kanter med 10px*/
}

/*Gör så att li hamnar efter varandra och så att dom får ett mellanrum med 15px*/
footer > nav li{
	display: inline-block;
	text-align: center;
	width: 15%;
	padding: 10px;
}

/*Gör så att den sidan man är inne på får en border med 2px som är svar*/
footer > nav #current{
	border: 2px solid black;
}

/*Ändrar så att bakgrundsfärgen är grå när man håller över a*/
footer > nav a:hover{
	background-color: grey;
}


/*#index - index.html*/


/*Gör så att titeln hamnar på samma höjd som bilden och så att titeln och bilden hamnar på samma rad*/
#index h1{
	vertical-align: middle;
	font-size: 100px; /*Storleken på texten förstoras med 100px*/
	display: inline-block;
}

/*Gör så att header bilden har samma bredd som sidan, oberoende på hur bred sidan är*/
#index .pictureheader{
	width: 100%;
}

/*Gör så att loggan och texten tar upp hela bredden på sidan och centreras*/
#index .logoheader{
	display: block;
	text-align: center;
	padding: 4%;
}

/*Gör så att main tar upp hela bredden på sidan och centreras*/
#index main{
	display: block;
	text-align: center;
}

/*Gör så att titeln hamnar på samma höjd som bilden och så att titeln och bilden hamnar på samma rad*/
#index h1{
	vertical-align: middle;
	font-size: 100px; /*Storleken på texten förstoras med 100px*/
	display: inline-block;
}

/*Ändrar storleken på sidans slogan*/
#index p{
	font-size: 50px; /*Storleken på texten förstoras med 50px*/
}

/*Titeln och bilden hamnar på samma höjd och så att titeln och bilden hamnar på samma rad*/
#index main > img{
    display: inline-block;
    vertical-align: middle;
}


/*#topplista - topplista.html*/


/*Ändrar så att texten är centrerad och att den har en padding på 30px*/
#topplista h1{
	text-align: center;
	padding: 30px;
	font-size: 50px;
}

#topplista table{
	width: 50%; /*Gör så att tabellen tar upp 50% av sidan*/
	margin-right: auto;
	margin-left: auto;
	text-align: left; /*Gör så att texten flyttas till vänster*/
	background-color: #c9c9c9;
	border-radius: 10px; /*Gör så att det blir runda kanter runt tabellen med 10px*/
	border-collapse: collapse; /*Gör så att det bildas EN border runt tabellen*/
}

/*Ändrar stilen på texten i thead och gör så att den får en padding med 1%*/
#topplista thead{
	font-size: 35px;
	padding: 1%;
}

/*Ändrar stilen på texten i tbody och gör så att den får en padding med 1%*/
#topplista tbody{
	font-size: 25px;
	padding: 1%;
}

/*Gör så att th och td får en padding med 10px*/
#topplista td, #topplista th{
	padding: 10px;
}

/*Gör så att alla tr förutom dom med id bottomrow får en 2px border*/
#topplista tr:not(#bottomrow){
	border-bottom: 2px solid #eee;
}

/*Gör så att när man håller över alla tr så blir det en annan bakgrundsfärg*/
#topplista tr:hover{
	background-color: #999999;
	border-radius: 10px;
}

/*Gör så att första th i id toprow som du håller musen över får en rund kant med 10px i högst uppe i vänstra hörnet för att förhindra att runda kanten inte försvinner när man håller musen över*/
#topplista #toprow:hover th:first-child{
	border-top-left-radius: 10px;
}

/*Gör så att sista th i id toprow som du håller musen över får en rund kant med 10px i högst uppe i högra hörnet för att förhindra att runda kanten inte försvinner när man håller musen över*/
#topplista #toprow:hover th:last-child{
	border-top-right-radius: 10px;
}

/*Gör så att första td i id bottomrow som du håller musen över får en rund kant med 10px i längst nere i vänstra hörnet för att förhindra att runda kanten inte försvinner när man håller musen över*/
#topplista #bottomrow:hover td:first-child{
	border-bottom-left-radius: 10px;
}

/*Gör så att sista td i id bottomrow som du håller musen över får en rund kant med 10px i längst nere i högra hörnet för att förhindra att runda kanten inte försvinner när man håller musen över*/
#topplista #bottomrow:hover td:last-child{
	border-bottom-right-radius: 10px;
}

/*Ändrar stilen på knappen rösta*/
#topplista #rosta{
	text-align: center;
	line-height: 75px;
	width: 200px;
	display: block;
	background-color: #c9c9c9; /*Ändrar bakgrundsfärgen med id*/
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
}

/*Ändrar stilen på knappen rösta när man håller över den*/
#topplista #rosta:hover{
	background-color: #999999;
	width: 195px;
}

/*Gör så att footern får en padding med 50px på toppen*/
#topplista footer{
	padding-top: 50px;
}


/*#formular - formular.html*/


/*Gör så att alla med id formular får en bild bakgrund*/
#formular{
	background: url("pictures/rosten.jpg");  /*Länken till bilden*/
	background-position: top left; /*Bestämmer bildens position*/
	background-size: 100%;
}

/*Gör så att listan centreras och gör så att listan tar upp 50% på bredden av sidan*/
#formular main form ul{
	margin-right: auto;
	margin-left: auto;
	background-color: hsl(0,0%,80%);  /*Ändrar på färgen genom hue, saturation och lightness*/
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 50px;
	width: 50%;
	text-align: center;
}

/*Ändrar på li med padding på 2ex*/
#formular main form li{
	padding: 2ex;
}

/*Gör så att man inte kan ändra storleken på textarea och bestämmer storleken på rutan*/
#formular textarea{
	resize: none;
	height: 40px;
	width: 400px;
}

/*Ändrar stilen på titeln*/
#formular h1{
	text-align: center;
	padding: 1rem; /*Ändrar padding på titeln med 1rem*/
	font-size: 3em; /*Ändrar storleken på texten med 3em*/
}

/*Ändrar stilen på id submit*/
#formular #submit{
	height: 60px;
	width: 100px;
	font-size: 18px;
	border-radius: 10px;
}


/*#instrument - instrument.html, gitarr.html, trumpet.html, */


/*Delar upp sidan i flera olika columner*/
#instrument #spaltarea{
	display: flex;
}

/*Den delar upp sidan i tre olika kolumner*/
#instrument .spalt3{
	flex: 1;
	margin: 10px;
}

/*Ändrar på stilen i h1*/
#instrument h1{
	text-align: center; /*texten hamnar i mitten*/
	padding-top: 60px; /*Padding med 60 px på toppen*/
	padding-bottom: 40px; /*Padding med 40 px på botten*/
	font-size: 40px;
}

/*Gör så att main tar upp en bredd på 60% av sidan och så att sidan hamnar i mitten*/
#instrument main{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/*Ändrar stilen på texten på alla sidor med id instument*/
#instrument p{
	font-size: 20px;
	padding-bottom: 20px; /*Gör så att det blir en padding med 20px på botten*/
}

 /*Gör så att titeln och ljudspelaren hamnar på samma rad*/
#instrument section h1{
	display: inline-block;
}

 /*Det centrerar titeln och ljudspelaren*/
#instrument section{
	text-align: center;
}

 /*Ändrar stilen på ljudspelaren*/
#instrument audio{
	width: 200px;
	height: 30px;
	margin-left: 20px;
}

 /*Ändrar på id image så att den har en width på 100% och att det har runda kanter med 15px*/
#instrument #image{
	width: 100%;
	border: 1px solid grey; /*Gör så att det finns en solid border som är 1px tjock och har färgen grå*/
	border-radius: 15px;
}

/*Gör så att id bottom hamnar i mitten*/
#instrument #bottom{
	display: block;
	padding: 40px;
	width: 50%; /*Gör så att den har bredden 50%*/
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	
}


/*#musikgenomaren - musikgenomaren.html, 80-talet.html, 90-talet.html*/


/*Delar upp sidan i två olika columner*/
#musikgenomaren #spaltarea{
	display: flex;
}

/*Delar upp sidan i två olika kolumner*/
#musikgenomaren .spalt2{
	flex: 1;
	margin: 10px;
}

/*Ändrar på stilen i h1*/
#musikgenomaren h1{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 40px;
}

/*Ändrar stilen på texten på alla sidor med id instument*/
#musikgenomaren p{
	font-size: 20px;
	padding-bottom: 20px;
}

/*Ändrar på stilen i dl*/
#musikgenomaren dl{
	display: inline-block;
	font-size: 20px;
	background-color: grey;
	text-align: left; /*Texten blir vänster justerad*/
	padding: 10px;
	border-radius: 10px;
}

/*Centrerar texten inom vänstra kolumnen*/
#musikgenomaren div{
	text-align: center;
}

/*Gör så att dd hamnar 50px från vänster*/
#musikgenomaren dd{
	padding-left: 50px;
}

/*Ändrar på stilen med id image*/
#musikgenomaren #image{
	width: 100%;
	border: 1px solid grey;
	border-radius: 15px;
}

/*Ändrar på stilen i bildtexten*/
#musikgenomaren figure{
	text-align: center;
}

/*Ändrar på main till 60% av sidan*/
#musikgenomaren main{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/*Ändrar bildbredden och centrerar bilden på sidan*/
#musikgenomaren #bottom{
	display: block;
	padding: 40px;
	width: 50%;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

/*Gör så att iframe tar upp en hel rad*/
#musikgenomaren iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 650px;
	margin-bottom: 10px;
}

